In [15]:
import os
import requests
from bs4 import BeautifulSoup
import time
import csv
import glob
import openpyxl
import pandas as pd
import string

In [2]:
import glob
def print_csv_columns():
    """ Print the contents of all CSVs """
    dataset = pd.DataFrame()
    for filename in glob.glob('stocks/*.csv'):
        data = pd.read_csv(filename, header=None, index_col=False)
        data.drop([0], axis=0, inplace=True)
        data.drop([0], axis = 1, inplace=True)
        data.dropna(inplace=True)
        dataset = pd.concat([dataset, data], ignore_index=True)
    return dataset

In [3]:
dataset = print_csv_columns()

In [4]:
dataset.columns = ['Company Name', 'Company Url']

In [5]:
dataset

,Company Name,Company Url
0,A & M Febcon Ltd.,https://www.moneycontrol.com/india/stockpriceq...
1,A and M Jumbo Bags Ltd.,https://www.moneycontrol.com/india/stockpriceq...
2,A B Infrabuild Ltd.,https://www.moneycontrol.com/india/stockpriceq...
3,A F Enterprises Ltd.,https://www.moneycontrol.com/india/stockpriceq...
4,A G Universal Ltd.,https://www.moneycontrol.com/india/stockpriceq...
...,...,...
9192,Zuari Industries Ltd.,https://www.moneycontrol.com/india/stockpriceq...
9193,Zyden Gentec Ltd.,https://www.moneycontrol.com/india/stockpriceq...
9194,Zydus Lifesciences Ltd.,https://www.moneycontrol.com/india/stockpriceq...
9195,Zydus Wellness Ltd.,https://www.moneycontrol.com/india/stockpriceq...
9196,Zylog Systems Ltd.,https://www.moneycontrol.com/india/stockpriceq...

In [6]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [7]:
import string
nifty_data = pd.read_csv('ind_nifty500list.csv')
nifty_data['Company Name'] =  nifty_data['Company Name'].str.replace("&", "and")
nifty_data['company_short_form'] = nifty_data['Company Name'].str.lower().str.replace("&", "and").apply(remove_punctuations)
dataset['Company Name'] =  dataset['Company Name'].str.replace("&", "and")
dataset['company_short_form'] = dataset['Company Name'].str.lower().str.replace("&", "and").apply(remove_punctuations)

In [8]:
new_data = dataset.merge(nifty_data,on='company_short_form' ,how='right')

In [9]:
new_data.isnull().sum()

Company Name_x        0
Company Url           0
company_short_form    0
Company Name_y        0
Industry              0
Symbol                0
Series                0
ISIN Code             0
dtype: int64

In [10]:
new_data[new_data['Company Url'].isna()]

Empty DataFrame
Columns: [Company Name_x, Company Url, company_short_form, Company Name_y, Industry, Symbol, Series, ISIN Code]
Index: []

In [11]:
new_data.drop(['Series', 'ISIN Code', 'company_short_form'], axis=1)

,Company Name_x,Company Url,Company Name_y,Industry,Symbol
0,360 ONE WAM Ltd.,https://www.moneycontrol.com/india/stockpriceq...,360 ONE WAM Ltd.,Financial Services,360ONE
1,3M India Ltd.,https://www.moneycontrol.com/india/stockpriceq...,3M India Ltd.,Diversified,3MINDIA
2,ABB India Ltd.,https://www.moneycontrol.com/india/stockpriceq...,ABB India Ltd.,Capital Goods,ABB
3,ACC Ltd.,https://www.moneycontrol.com/india/stockpriceq...,ACC Ltd.,Construction Materials,ACC
4,AIA Engineering Ltd.,https://www.moneycontrol.com/india/stockpriceq...,AIA Engineering Ltd.,Capital Goods,AIAENG
...,...,...,...,...,...
496,Zensar Technologies Ltd.,https://www.moneycontrol.com/india/stockpriceq...,Zensar Technologies Ltd.,Information Technology,ZENSARTECH
497,Zomato Ltd.,https://www.moneycontrol.com/india/stockpriceq...,Zomato Ltd.,Consumer Services,ZOMATO
498,Zydus Lifesciences Ltd.,https://www.moneycontrol.com/india/stockpriceq...,Zydus Lifesciences Ltd.,Healthcare,ZYDUSLIFE
499,Zydus Wellness Ltd.,https://www.moneycontrol.com/india/stockpriceq...,Zydus Wellness Ltd.,Fast Moving Consumer Goods,ZYDUSWELL
500,eClerx Services Ltd.,https://www.moneycontrol.com/india/stockpriceq...,eClerx Services Ltd.,Services,ECLERX

In [12]:
new_data.head()

,Company Name_x,Company Url,company_short_form,Company Name_y,Industry,Symbol,Series,ISIN Code
0,360 ONE WAM Ltd.,https://www.moneycontrol.com/india/stockpriceq...,360 one wam ltd,360 ONE WAM Ltd.,Financial Services,360ONE,EQ,INE466L01038
1,3M India Ltd.,https://www.moneycontrol.com/india/stockpriceq...,3m india ltd,3M India Ltd.,Diversified,3MINDIA,EQ,INE470A01017
2,ABB India Ltd.,https://www.moneycontrol.com/india/stockpriceq...,abb india ltd,ABB India Ltd.,Capital Goods,ABB,EQ,INE117A01022
3,ACC Ltd.,https://www.moneycontrol.com/india/stockpriceq...,acc ltd,ACC Ltd.,Construction Materials,ACC,EQ,INE012A01025
4,AIA Engineering Ltd.,https://www.moneycontrol.com/india/stockpriceq...,aia engineering ltd,AIA Engineering Ltd.,Capital Goods,AIAENG,EQ,INE212H01026

In [16]:
def get_html(url):
    """ Get the HTML of a URL """
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'lxml')  # Use lxml parser
    return soup

In [17]:
def scrape_quick_links(url):
    """ Scrape quick links from a web page """
    soup = get_html(url)
    quick_links = soup.find('div', {'class': 'quick_links clearfix'})
    links = quick_links.find_all('a')
    return links

In [19]:
my_lisks = scrape_quick_links("https://www.moneycontrol.com/india/stockpricequote/fertilizers/gujaratnarmadavalleyfertchem/GNV")
for link in my_lisks:
    print(link['href'])
    print(link.text)

https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/balance-sheetVI/GNV#GNV
Balance Sheet
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/profit-lossVI/GNV#GNV
Profit & Loss
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/results/quarterly-results/GNV#GNV
Quarterly Results
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/results/half-yearly/GNV#GNV
Half Yearly Results
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/results/nine-months/GNV#GNV
Nine Months Results
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/results/yearly/GNV#GNV
Yearly Results
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/cash-flowVI/GNV#GNV
Cash Flows
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/ratiosVI/GNV#GNV
Ratios
https://www.moneycontrol.com/financials/gujaratnarmadavalleyfertchem/capital-structure/GNV#GNV
Capital Structure

In [42]:
def scrape_table(url, stock_name, sheet_name, next_page=False):
    """ Scrape a table from a web page """
    soup = get_html(url)
    table = soup.find('table', {'class': 'mctable1'})
    rows = table.find_all('tr')
    key_list = []
    if next_page:
        for i, row in enumerate(rows):
            for j, el in enumerate(row):
                if j > 2 and j < len(row) - 3:
                    print(el.string)
    else:
        for row in rows:
            row_list = [el.string for el in row if el.string != '\n'][:-2]
            print(row_list)
            if row_list[1] != None:
                key_list.append(row_list[0])
    print(key_list)

In [43]:
url = "https://www.moneycontrol.com/financials/relianceindustries/ratiosVI/RI#RI"
stock_name = "RELIANCE"
sheet_name = "Balance Sheet"
scrape_table(url, stock_name, sheet_name)

[None, 'Mar 23', 'Mar 22', 'Mar 21', 'Mar 20']
['Per Share Ratios', None, None, None, None]
['Basic EPS (Rs.)', '65.34', '59.24', '49.66', '48.42']
['Diluted EPS (Rs.)', '65.34', '58.49', '48.90', '48.72']
['Cash EPS (Rs.)', '80.31', '72.96', '63.84', '64.10']
['Book Value [ExclRevalReserve]/Share (Rs.)', '742.83', '697.01', '736.20', '617.15']
['Book Value [InclRevalReserve]/Share (Rs.)', '742.83', '697.01', '736.20', '617.15']
['Dividend / Share(Rs.)', '0.00', '8.00', '7.00', '6.50']
['Revenue from Operations/Share (Rs.)', '782.99', '626.32', '381.17', '531.56']
['PBDIT/Share (Rs.)', '115.77', '97.83', '74.97', '104.74']
['PBIT/Share (Rs.)', '100.80', '82.64', '60.70', '89.39']
['PBT/Share (Rs.)', '82.13', '69.16', '42.22', '63.60']
['Net Profit/Share (Rs.)', '65.33', '57.77', '49.56', '48.75']
['Profitability Ratios', None, None, None, None]
['PBDIT Margin (%)', '14.78', '15.62', '19.66', '19.70']
['PBIT Margin (%)', '12.87', '13.19', '15.92', '16.81']
['PBT Margin (%)', '10.48', '11.04', '11.07', '11.96']
['Net Profit Margin (%)', '8.34', '9.22', '13.00', '9.17']
['Return on Networth / Equity (%)', '8.79', '8.28', '6.73', '7.89']
['Return on Capital Employed (%)', '10.07', '8.24', '5.82', '8.84']
['Return on Assets (%)', '4.83', '4.44', '3.65', '3.18']
['Total Debt/Equity (X)', '0.43', '0.41', '0.41', '0.65']
['Asset Turnover Ratio (%)', '0.59', '0.48', '28.11', '34.67']
['Liquidity Ratios', None, None, None, None]
['Current Ratio (X)', '1.16', '1.11', '1.04', '0.50']
['Quick Ratio (X)', '0.96', '0.88', '0.86', '0.39']
['Inventory Turnover Ratio (X)', '8.26', '7.70', '6.56', '8.68']
['Dividend Payout Ratio (NP) (%)', '0.00', '10.99', '12.27', '12.46']
['Dividend Payout Ratio (CP) (%)', '0.00', '8.70', '9.53', '9.48']
['Earnings Retention Ratio (%)', '0.00', '89.01', '87.73', '87.54']
['Cash Earnings Retention Ratio (%)', '0.00', '91.30', '90.47', '90.52']
['Valuation Ratios', None, None, None, None]
['Enterprise Value (Cr.)', '1,731,943.43', '1,954,716.18', '1,479,239.40', '950,998.06']
['EV/Net Operating Revenue (X)', '3.27', '4.61', '6.02', '2.82']
['EV/EBITDA (X)', '22.11', '29.53', '30.61', '14.32']
['MarketCap/Net Operating Revenue (X)', '2.98', '4.21', '5.26', '2.09']
['Retention Ratios (%)', '0.00', '89.00', '87.72', '87.53']
['Price/BV (X)', '3.14', '3.78', '2.72', '1.80']
['Price/Net Operating Revenue', '2.98', '4.21', '5.26', '2.09']
['Earnings Yield', '0.03', '0.02', '0.02', '0.04']
[None, 'Basic EPS (Rs.)', 'Diluted EPS (Rs.)', 'Cash EPS (Rs.)', 'Book Value [ExclRevalReserve]/Share (Rs.)', 'Book Value [InclRevalReserve]/Share (Rs.)', 'Dividend / Share(Rs.)', 'Revenue from Operations/Share (Rs.)', 'PBDIT/Share (Rs.)', 'PBIT/Share (Rs.)', 'PBT/Share (Rs.)', 'Net Profit/Share (Rs.)', 'PBDIT Margin (%)', 'PBIT Margin (%)', 'PBT Margin (%)', 'Net Profit Margin (%)', 'Return on Networth / Equity (%)', 'Return on Capital Employed (%)', 'Return on Assets (%)', 'Total Debt/Equity (X)', 'Asset Turnover Ratio (%)', 'Current Ratio (X)', 'Quick Ratio (X)', 'Inventory Turnover Ratio (X)', 'Dividend Payout Ratio (NP) (%)', 'Dividend Payout Ratio (CP) (%)', 'Earnings Retention Ratio (%)', 'Cash Earnings Retention Ratio (%)', 'Enterprise Value (Cr.)', 'EV/Net Operating Revenue (X)', 'EV/EBITDA (X)', 'MarketCap/Net Operating Revenue (X)', 'Retention Ratios (%)', 'Price/BV (X)', 'Price/Net Operating Revenue', 'Earnings Yield']